* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* .text-primary */
.text-primary {
    background: black;
    color: aliceblue;
}

/* header  */
.header {
    background: #FAFAFA;
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    display: flex;
    margin: 0 150px;

}

.title {
    font-weight: 700;
    font-size: 64px;
}

.decription {
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

/* button  */
.btn-primary {
    color: #FAFAFA;
    padding: 12px;
    border: 0;
    border-radius: 5px;
    background: #FF5959;
    font-weight: 700;
    font-size: 16px;
    margin-top: 25px;
}

.btn-secondary {
    border: 0;
    color: #707070;
    font-weight: 600;
    font-size: 18px;

}

/* donate */
.donate {
    text-align: center;
    margin: 0 250px;
}

.donate-start {}

.donate-title {
    font-weight: 700;
    font-size: 64px;
    margin-top: 50px;
}

.donate-decription {
    color: #707070;
    border-bottom: 50px;
    margin-top: 25px;
}

.amount {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.orange {
    color: #FF5959;
    border: 1px solid #FF5959;
    padding: 30px 40px;
}

.taka {
    background: #FAFAFA;
    border-radius: 5px;
    padding: 30px 40px;
    color: #707070;
    margin-top: 50px;
}

.another-amount {
    color: #B3B3B3;
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;

}

.plan {
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

.plan-decription {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin: 35px 20px;
}

.box {
    display: flex;
    gap: 24px;
}

.box-title {
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    margin: 20px auto;
}

.red {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    border: 0;
    padding: 60px 30px 70px 30px;
    margin-left: 100px;
}

.yellow {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    border: 0;
    padding: 60px 30px 70px 30px;
    margin-left: 100px;
}

.blue {
    background: rgba(250, 205, 59, 0.1);
    border-radius: 5px;
    border: 0;
    padding: 60px 30px 70px 30px;
    margin-left: 100px;
}

.contains {
    display: flex;
    gap: 25px;
    margin: 50px auto;
}

.contain {
    padding: 100px 50px 50px 100px;
}

.contain-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

.contain-decription {
    margin-bottom: 20px;
    color: #707070;
    font-weight: 400;
    font-size: 18px;

}

.containst {}

.containt {
    display: flex;
    gap: 25px;
}

.contain-titlet {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

.contain-decriptiont {
    margin-bottom: 20px;
    color: #707070;
    font-weight: 400;
    font-size: 18px;

}

.update {
    text-align: center;

    margin: 60px;

}

.update-title {
    margin-bottom: 10px;


}

.update-decription {
    color: #707070;
    margin-bottom: 60px;
}

.ss {
    border-radius: 5px;
    border: 0;
    background: #f7dd98;
    padding: 100px;
    
}

.btn-primarys {
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    padding: 12px;
    border: 0;
    font-size: 16px;
}
.btn-primaryr {
    color: #FAFAFA;
    padding: 12px;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    background: #FF5959;
    font-weight: 700;
    font-size: 16px;
    margin-top: 25px;
}
.footer{
    background: #0B0D17;
    text-align: center;
    padding: 50px;
}
.huble{
    font-weight: 700;
    font-size: 64px;
    color: #FF5959;
}
.go{
    font-weight: 400;
    font-size: 25px;
    color: #D9DBE1;
}